
.form-controller {
  margin: auto;
  padding: 20px;
  width: 400px;
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

.p-2 {
  padding: 8px;
}

.mb-1,
.mb-2,
.mb-3 {
  margin-bottom: 8px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 3px;
}

.text-decaration {
  text-decoration: none;
  margin-left: 10px !important;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.modal {
  display: block !important;
}

.modal .modal-dialog {
  margin-top: 200px;
}

.modal .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.modal .modal-title {
  font-weight: bold;
}

.modal .btn-close {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 1rem;
  opacity: 0.5;
  cursor: pointer;
}

.modal .modal-body {
  padding: 16px;
}

.modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}
